@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1240px) {
    .sticky {
        position: fixed;
        padding-left: 3rem;
        z-index: 10;
        background-color: #fafafa;
        right: 50%;
        transform:translateX(50%);
    }
    .productsPadding {
        padding-top: 15.5rem;
        padding-bottom: 10rem;
    }
   
}
 .intersecting {
        opacity: 1;
        transform:translateY(0rem);
    }
